<mat-card-title>
  会社概要
</mat-card-title>

<mat-card-content>
  <table>
    <tr>
      <td class="label">社名</td>
      <td class="value">株式会社ITヒーロー</td>
    </tr>
    <tr>
      <td class="label">本社</td>
      <td class="value">〒105-0013<br>東京都港区浜松町二丁目</td>
    </tr>
    <tr>
      <td class="label">代表者</td>
      <td class="value"><a [routerLink]="['/profile','0']">沢木 星太</a></td>
    </tr>
    <tr>
      <td class="label">設立</td>
      <td class="value">2017年10月2日</td>
    </tr>
    <tr>
      <td class="label">資本金</td>
      <td class="value">1万円</td>
    </tr>
    <tr>
      <td class="label">事業内容</td>
      <td class="value">ITに関する事業</td>
    </tr>
  </table>
</mat-card-content>
