<mat-toolbar color="primary">
  <span>株式会社 ITヒーロー</span>

  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item [routerLink]="['/']">
    <mat-icon>home</mat-icon>
    <span>トップページ</span>
  </button>
  <button mat-menu-item [routerLink]="['/about']">
    <mat-icon>info</mat-icon>
    <span>会社概要</span>
  </button>
  <button mat-menu-item [routerLink]="['/contact']" disabled>
    <mat-icon>mail</mat-icon>
    <span>お問い合わせ</span>
  </button>
</mat-menu>


<mat-card>
  <router-outlet></router-outlet>
</mat-card>
