<mat-card-title>
  システム開発プロセス 一覧表
</mat-card-title>

<mat-card-content>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
	(1) 企画
      </mat-panel-title>
      <mat-panel-description>
	・発注側作業
      </mat-panel-description>
    </mat-expansion-panel-header>

    <p>hogefoobar.</p>
    
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
	(2) 要件定義
      </mat-panel-title>
      <mat-panel-description>
	・発注側作業
      </mat-panel-description>
    </mat-expansion-panel-header>

    <p>hogefoobar.</p>
    
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
	(3) 設計
      </mat-panel-title>
      <mat-panel-description>
	受注側作業
      </mat-panel-description>
    </mat-expansion-panel-header>

    <p>hogefoobar.</p>
    
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
	(4) 実装
      </mat-panel-title>
      <mat-panel-description>
	受注側作業
      </mat-panel-description>
    </mat-expansion-panel-header>

    <p>hogefoobar.</p>
    
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
	(5) テスト
      </mat-panel-title>
      <mat-panel-description>
	受注側作業
      </mat-panel-description>
    </mat-expansion-panel-header>

    <p>hogefoobar.</p>
    
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
	(6) 検収
      </mat-panel-title>
      <mat-panel-description>
	・発注側作業
      </mat-panel-description>
    </mat-expansion-panel-header>

    <p>hogefoobar.</p>
    
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
	(7) 導入
      </mat-panel-title>
      <mat-panel-description>
	・発注側作業
      </mat-panel-description>
    </mat-expansion-panel-header>

    <p>hogefoobar.</p>
    
  </mat-expansion-panel>
</mat-card-content>
