<mat-card-title>
  プロフィール
</mat-card-title>

<mat-card-content>
  <table>
    <tr>
      <td class="label">名前</td>
      <td class="value">沢木 星太</td>
    </tr>
    <tr>
      <td class="label">生年月日</td>
      <td class="value">1992年7月19日</td>
    </tr>
    <tr>
      <td class="label">資格</td>
      <td class="value">応用情報技術者<br>Googleデジタルマーケティング<br>TOEIC 850点<br>ヤマハ ピアノ演奏グレード 5級<br>など</td>
    </tr>
    <tr>
      <td class="label">スキル</td>
      <td class="value">IT全般/ 人工知能/ ビッグデータ/ IoT<br>サービス・イベント企画<br>ボーカル・ギター・その他楽器演奏/ 楽曲・映像制作<br></td>
    </tr>
    <tr>
      <td class="label">経歴</td>
      <td class="value">
	<table>
	  <tr>
	    <td class="label2">2003年</td>
	    <td class="value2">小5。唯一の友達がサッカークラブに入団するというので、モヤシ体型なのに後を追う。1週間後、友達は怪我で退団。ぼっちとなる。晩年補欠のためリフティングのパフォーマンスを極めたところ、知らない人にリフティングを見せてくれと話しかけられるようになるなど、市内でも有名な補欠となる。</td>
	  </tr>
	  <tr>
	    <td class="label2">2007年</td>
	    <td class="value2">中3。唯一の友達がドラムを始めるというので、バンドを結成。ギター・ボーカルを担当。日々、スマブラの練習に明け暮れる。</td>
	  </tr>
	  <tr>
	    <td class="label2">2008年</td>
	    <td class="value2">高1。春日部共栄高校に入学。ウケ狙いで英語で自己紹介をし、ぼっちとなる。休み時間は校庭の片隅で弾き語りをするなど積極的な音楽活動を行い、学校でも有名なぼっちとなる。</td>
	  </tr>
	  <tr>
	    <td class="label2">2011年</td>
	    <td class="value2">大1。東京電機大学に入学。大学デビューを果たしたのち、あだ名がゴリラとなる。朝目が覚めるともう夜など健全な学生生活を送り、出席点が足りずにドイツ語を3回履修するなどする。プログラミングに目覚める。</td>
	  </tr>
	  <tr>
	    <td class="label2">2014年</td>
	    <td class="value2">大4。日立製作所に内定。エジプト人と出会う。</td>
	  </tr>
	  <tr>
	    <td class="label2">2015年</td>
	    <td class="value2">社1。エジプト人とマブダチになる。</td>
	  </tr>
	  <tr>
	    <td class="label2">2017年</td>
	    <td class="value2">社2。とりあえず退職する。マリオサンシャインを2ヶ月かけて全クリし、ごりらぼを創業する。のち、売上を浪費しまくるため、株式会社ITヒーローを設立。今に至る。</td>
	  </tr>
	</table>
    </tr>
  </table>
</mat-card-content>
